<?xml version="1.0" encoding="UTF-8"?>
<Program>
    <View name="Default" showBitsNone="False" showBitsActive="True" showBitsPredicted="True" showBitsFalselyPredicted="True" showCellsNone="False" showCellsLearning="True" showCellsActive="True" showCellsPredicted="True" showCellsFalselyPredicted="True" showCellsInactive="False" showProximalSegmentsNone="False" showProximalSegmentsActive="True" showProximalSegmentsPredicted="True" showProximalSegmentsFalselyPredicted="True" showProximalSynapsesNone="False" showProximalSynapsesConnected="True" showProximalSynapsesActive="False" showProximalSynapsesPredicted="True" showProximalSynapsesFalselyPredicted="True" showDistalSegmentsNone="False" showDistalSegmentsActive="True" showDistalSynapsesNone="False" showDistalSynapsesConnected="True" showDistalSynapsesActive="False"/>
    <View name="Sensors Bits" showBitsNone="False" showBitsActive="True" showBitsPredicted="True" showBitsFalselyPredicted="True" showCellsNone="True" showCellsLearning="False" showCellsActive="False" showCellsPredicted="False" showCellsFalselyPredicted="False" showCellsInactive="False" showProximalSegmentsNone="True" showProximalSegmentsActive="False" showProximalSegmentsPredicted="False" showProximalSegmentsFalselyPredicted="False" showProximalSynapsesNone="True" showProximalSynapsesConnected="False" showProximalSynapsesActive="False" showProximalSynapsesPredicted="False" showProximalSynapsesFalselyPredicted="False" showDistalSegmentsNone="True" showDistalSegmentsActive="False" showDistalSynapsesNone="True" showDistalSynapsesConnected="False" showDistalSynapsesActive="False"/>
    <View name="Spatial Activation" showBitsNone="False" showBitsActive="True" showBitsPredicted="False" showBitsFalselyPredicted="False" showCellsNone="False" showCellsLearning="False" showCellsActive="True" showCellsPredicted="False" showCellsFalselyPredicted="False" showCellsInactive="False" showProximalSegmentsNone="False" showProximalSegmentsActive="True" showProximalSegmentsPredicted="False" showProximalSegmentsFalselyPredicted="False" showProximalSynapsesNone="False" showProximalSynapsesConnected="True" showProximalSynapsesActive="False" showProximalSynapsesPredicted="False" showProximalSynapsesFalselyPredicted="False" showDistalSegmentsNone="True" showDistalSegmentsActive="False" showDistalSynapsesNone="True" showDistalSynapsesConnected="False" showDistalSynapsesActive="False"/>
    <View name="Temporal Activation" showBitsNone="False" showBitsActive="False" showBitsPredicted="True" showBitsFalselyPredicted="True" showCellsNone="False" showCellsLearning="True" showCellsActive="False" showCellsPredicted="True" showCellsFalselyPredicted="True" showCellsInactive="False" showProximalSegmentsNone="False" showProximalSegmentsActive="False" showProximalSegmentsPredicted="True" showProximalSegmentsFalselyPredicted="True" showProximalSynapsesNone="False" showProximalSynapsesConnected="False" showProximalSynapsesActive="False" showProximalSynapsesPredicted="True" showProximalSynapsesFalselyPredicted="True" showDistalSegmentsNone="False" showDistalSegmentsActive="True" showDistalSynapsesNone="False" showDistalSynapsesConnected="True" showDistalSynapsesActive="False"/>
    <View name="Active Elements" showBitsNone="False" showBitsActive="True" showBitsPredicted="False" showBitsFalselyPredicted="False" showCellsNone="False" showCellsLearning="True" showCellsActive="True" showCellsPredicted="False" showCellsFalselyPredicted="False" showCellsInactive="False" showProximalSegmentsNone="False" showProximalSegmentsActive="True" showProximalSegmentsPredicted="False" showProximalSegmentsFalselyPredicted="False" showProximalSynapsesNone="False" showProximalSynapsesConnected="True" showProximalSynapsesActive="False" showProximalSynapsesPredicted="False" showProximalSynapsesFalselyPredicted="False" showDistalSegmentsNone="False" showDistalSegmentsActive="True" showDistalSynapsesNone="False" showDistalSynapsesConnected="True" showDistalSynapsesActive="False"/>
    <View name="Predicted Elements" showBitsNone="False" showBitsActive="False" showBitsPredicted="True" showBitsFalselyPredicted="True" showCellsNone="False" showCellsLearning="False" showCellsActive="False" showCellsPredicted="True" showCellsFalselyPredicted="True" showCellsInactive="False" showProximalSegmentsNone="False" showProximalSegmentsActive="False" showProximalSegmentsPredicted="True" showProximalSegmentsFalselyPredicted="True" showProximalSynapsesNone="False" showProximalSynapsesConnected="False" showProximalSynapsesActive="False" showProximalSynapsesPredicted="True" showProximalSynapsesFalselyPredicted="True" showDistalSegmentsNone="True" showDistalSegmentsActive="False" showDistalSynapsesNone="True" showDistalSynapsesConnected="False" showDistalSynapsesActive="False"/>
</Program>
